table{
    background-color: #595959;
    font-family: arial, serif, sans-serif;
    color: #BBBBBB;
    font-size: 15px;
}

td{
    padding: 0.4em;
}

th{
    font-weight: normal;
    font-size: 1.3em;
    text-align: left;
}

td:first-child{
    color: #ffffff;
    font-style: italic;
}
td:nth-child(2){
    padding-right: 7em;
}
.yellow{
    color: #E3F196;
}

.red{
    color: #FC0317;
    font-weight: bold;
}

.orange{
    color: #CE6B43;
    font-weight: bold;
}

.circle{
    background-color: #71B47A;
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
}